*{
  margin: 0;
  padding: 0;
}
/*encabezado*/
header{
  outline:1px solid white;
  /*background-color: green;*/
  width: 100%;
  height: 120px;
  position: fixed;
  top:0;
}
/*imagen lyft*/
header img{
  width: 5%;
}
/*lista desordenada*/
ul{
  /*quitar las viñetas*/
  list-style: none;
  /*quitar espacio de lado izquierdo*/
  margin: 0;
  padding: 0;
  /*espacio de cada item*/
  line-height: 20px;
  /*le devuelve al elemento contenedor para que vuelva a ser bloque*/
  overflow: auto;
}
/*items de la lista*/
li{
  /*outline: 1px solid green;*/
  width: 100px;
  text-align: center;
  /*alineación hacia la derecha*/
  float:right;
}
a{
  /*outline: 1px solid purple;*/
  /*quitando el subrayado*/
  text-decoration: none;
  font-size: 18px;
  /*color de la letra*/
  color: #fff;
}
/*cuando se posiciona el cursor el color de  la  letra cambia*/
a:hover{
  color:#FF00BF;
}
/*boton del encabezado*/
li button{
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding: 8px;
  background-color: #FF00BF;
  text-align: center;
  margin-bottom: 20px;
}

/*primera sección*/
#first-block{
  /*colocando imagen de fondo*/
  background-image:url(../assets/images/hero.gif);
  /*la imagen de fondo no se repite*/
  background-repeat: no-repeat;
  /*se aplica para que cubra toda la zona*/
  background-size: cover;
  /*alto*/
  height:600px;
  outline: 1px solid red;
}
/*formulario en la parte derecha*/
#first-block .message{
  /*posicionamiento a la derecha*/
  position: absolute;
  top:150px;
  left: 57%;
  background-color: white;
  /*tamaño*/
  width: 600px;
  height: 400px;
}
